{% extends "base/base.html" %} <!-- Bloque, Plantilla base -->
    {% block title %}Actualizar Parroquias{% endblock %}
    
    {% block contenido %}
	<form method="post">
	    {% csrf_token %}
	    <table border='0'>
	    	<tr>
	    	    <td colspan='2' style='background-color: #D9EDF7'>Actualizar Parrroquia</td>
	    	</tr>
	    	<tr>
		    <td>Código</td>
		    <td><input id="id_cod_parroquia" required=True name="cod_parroquia" type="number" value='{{obj_reg_parr.cod_parroquia}}' required=True/></td>
	    	</tr>
	    	<tr>
		    <td>Estado</td>
		    <td>
			<select id="id_cod_estado" name="estado" required=True>
			    <option value="">-----------------------------</option>
			    {% for e in list_e %}
				{% if e.cod_estado == obj_reg_parr.estado_id%}
				    <option value='{{e.cod_estado}}' selected='selected'>{{ e.estado }}</option>
				{% endif %}
				{% if not e.cod_estado == obj_reg_parr.estado_id %}
				    <option value='{{e.cod_estado}}'>{{ e.estado }}</option>
				{% endif %}
			    {% endfor %}
			</select>
		    </td>
	    	</tr>
	    	<tr>
		    <td>Municipio</td>
		    <td>
			<select id="id_cod_municipio" name="municipio" required=True>
			    <option value="">-----------------------------</option>
			    {% for est in list_e%}
				    {% for m in list_m %}
						{% if est.cod_estado == obj_reg_parr.estado_id and m.cod_municipio == obj_reg_parr.municipio%}
						<option value='{{m.cod_municipio}}' selected='selected'>{{m.municipio}}</option>
					    {% endif %}
					    {% if not m.cod_municipio == obj_reg_parr.municipio %}
						<option value='{{m.cod_municipio}}'>{{m.municipio}}</option>
					    {% endif %}
				    {% endfor %}
			    {%endfor%}
			</select>
		    </td>
		    </tr>
		    <tr>
			<td>Parroquia</td>
			<td><input id="id_parroquia" maxlength="50" name="parroquia" type="text" value='{{obj_reg_parr.parroquia}}' required=True/></td>
		    </tr>
	    	<tr>
	    	    <td colspan='2'>
			<input type="submit" value="Actualizar"/>
		    </td>	
	    	</tr>
	    </table>
	</form>
    {% endblock contenido%}
